.idea/
.vscode/
*.sublime-workspace
*.sublime-project

*.log

/runtime/*
!/runtime/.gitkeep
/protected/runtime/*
!/protected/runtime/.gitkeep
/assets/*
!/assets/.gitkeep

/config/*.local.php

.DS_Store
Thumbs.db

*.swp
*.swo
